.page__header {
  width: calc(100% - 96px);
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .page__header {
    width: calc(100% - 28px);
    margin-top: 18px;
  }
}

@media screen and (max-width: 375px) {
  .page__header {
    width: calc(100% - 32px);
  }
}
