.barentsburg__link {
  width: 282px;
  margin: 2px 0 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #FFFFFF;
}

.barentsburg__link:hover {
  opacity: .5;
  transition: opacity .1s ease-in-out;
}
