.comment__author {
  width: 100%;
  margin: 24px 0 0 0;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
  .comment__author {
    margin: 16px 0 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .comment__author {
    order: 1;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .comment__author {
    margin: 15px 0 0 0;
  }
}
