@import url("./__lead/__lead.css");
@import url("./__intro/__intro.css");
@import url("./__photo-grid/__photo-grid.css");
@import url("./__places/__places.css");
@import url("./__video/__video.css");
@import url("./__comments/__comments.css");
@import url("./__cover/__cover.css");

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
