.cover__subtitle {
  width: 382px;
  position: absolute;
  left: 50%;
  bottom: 48px;
  transform: translate(-50%, 0);
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}
