.header__lang-flag {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

.header__lang-flag:checked ~ .header__lang-text {
  text-decoration-line: underline;
}
