.intro__fact-item {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .intro__fact-item {
    font-size: 12px;
    line-height: 19px;
  }
}
