.place__paragraphs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    margin: 24px 0 0 0;
    padding: 0 16px 0 16px;
    box-sizing: border-box;
  }
}
