.main__comments {
  max-width: 1184px;
  margin: 102px 0 0 0;
}

@media screen and (max-width: 1280px) {
  .main__comments {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .main__comments {
    margin: 65px 0 0 0;
  }
}
