.video__item {
  position: relative;
  top: 0;
  left: 0;
  height: 323px;
  width: 583px;
  border-radius: 5px;
  background: black;
}


.video__item:hover .video__item-bg {
  opacity: 0.5;
}

@media screen and (max-width: 1280px) {
  .video__item {
    height: 288px;
    width: 456px;
  }

}

@media screen and (max-width: 1024px) {
  .video__item {
    height: 200px;
    width: 352px;
  }
}

@media screen and (max-width: 1024px) {
  .video__item {
    height: 200px;
    width: 352px;
  }
}

@media screen and (max-width: 768px) {
  .video__item {
    height: 200px;
    width: 343px;
  }

  .video__item:not(:first-child) {
    margin: 8px 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  .video__item {
    height: 192px;
    width: 288px;
  }
}
