.lead__title {
  max-width: 782px;
  margin: 0;
  font-size: 96px;
  line-height: 93px;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 320px;
    font-size: 40px;
    line-height: 44px;
  }
}


