.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #FFFFFF;
}

.place__paragraph:not(:first-child) {
  margin: 36px 0 0 0;
}

@media screen and (max-width: 1280px) {
   .place__paragraph:not(:first-child) {
    margin: 24px 0 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 27px;
  }
}
