@import url("../content-title/content-title.css");
@import url("../content-subtitle/content-subtitle.css");
@import url("./__image/__image.css");
@import url("./__quote/__quote.css");
@import url("./__author/__author.css");

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .comment {
    align-items: center;
  }
}
