.video__title {
  max-width: 322px;
  position: absolute;
  left: 30px;
  bottom: 53px;
  z-index: 1;
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  line-height: 39px;
  color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
  .video__title {
    bottom: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .video__title {
    left: 24px;
    bottom: 46px;
    font-size: 24px;
    line-height: 26px;
  }
}

@media screen and (max-width: 768px) {
  .video__title {
    bottom: 44px;
  }
}

@media screen and (max-width: 375px) {
  .video__title {
    left: 16px;
    bottom: 36px;
  }
}
