.lead__image {
  height: 554px;
  width: 984px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .lead__image {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .lead__image {
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
  }
}

@media screen and (max-width: 375px) {
  .lead__image {
  }
}
