.video__icon-play {
  height: 41px;
  width: 41px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .video__icon-play {
    top: 24px;
    left: 24px;
  }
}

@media screen and (max-width: 375px) {
  .video__icon-play {
    top: 16px;
    left: 16px;
  }
}
