.content-subtitle {
  width: 640px;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .content-subtitle {
    max-width: 300px;
    font-size: 16px;
    line-height: 23px;
  }
}
