@import url("./__link/__link.css");
@import url("./__covers-bg/__covers-bg.css");
@import url("./__cover-bg/__cover-bg.css");
@import url("./__title/__title.css");
@import url("./__subtitle/__subtitle.css");

.cover {
  position: relative;
  height: 594px;
  width: 1184px;
  background-color: black;
}

.cover:hover .cover__cover-bg {
  opacity: 0.5;
}

@media screen and (max-width: 1280px) {
  .cover {
    height: auto;
    width: 100%;
  }
}
