.video__subtitle {
  position: absolute;
  left: 30px;
  bottom: 28px;
  z-index: 1;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
  color: #ffffff;
}

@media screen and (max-width: 1280px) {
  .video__subtitle {
    bottom: 35px;
  }
}

@media screen and (max-width: 1024px) {
  .video__subtitle {
    left: 24px;
    bottom: 24px;
  }
}


@media screen and (max-width: 768px) {
  .video__subtitle {
    left: 24px;
    bottom: 21px;
  }
}

@media screen and (max-width: 375px) {
  .video__subtitle {
    left: 16px;
    bottom: 16px;
  }
}
