@import url("./__container/__container.css");
@import url("./__item/__item.css");
@import url("./__item-bg/__item-bg.css");
@import url("./__heading/__heading.css");
@import url("./__text/__text.css");

.additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
