.lead__image-option {
  display: flex;
  margin: 71px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .lead__image-option {
    height: auto;
    width: 100%;
    margin: 70px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__image-option {
    margin: 34px 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  .lead__image-option {
    margin: 32px 0 0 0;
  }
}
