.main__photo-grid {
  max-width: 1184px;
  margin: 96px 0 0 0;
}

@media screen and (max-width: 1280px) {
  .main__photo-grid {
    max-width: 928px;
    margin: 98px 0 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .main__photo-grid {
    max-width: 720px;
    margin: 93px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .main__photo-grid {
    max-width: 350px;
    margin: 69px 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  .main__photo-grid {
    margin: 70px 0 0 0;
  }
}
