.place__url {
  width: max-content;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #FFFFFF;
}

.place__url:hover {
  opacity: .5;
  transition: opacity .1s ease-in-out;
}
