@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-Thin.ttf") format("woff2"),
  url("../fonts/Inter-Thin.woff") format("woff"),
  url("../fonts/Inter-Thin.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-ThinItalic.ttf") format("woff2"),
  url("../fonts/Inter-ThinItalic.woff") format("woff"),
  url("../fonts/Inter-ThinItalic.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.ttf") format("woff2"),
  url("../fonts/Inter-ExtraLight.woff") format("woff"),
  url("../fonts/Inter-ExtraLight.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLightItalic.ttf") format("woff2"),
  url("../fonts/Inter-ExtraLightItalic.woff") format("woff"),
  url("../fonts/Inter-ExtraLightItalic.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.ttf") format("woff2"),
  url("../fonts/Inter-Light.woff") format("woff"),
  url("../fonts/Inter-Light.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-LightItalic.ttf") format("woff2"),
  url("../fonts/Inter-LightItalic.woff") format("woff"),
  url("../fonts/Inter-LightItalic.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.ttf") format("woff2"),
  url("../fonts/Inter-Regular.woff") format("woff"),
  url("../fonts/Inter-Regular.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Italic.ttf") format("woff2"),
  url("../fonts/Inter-Italic.woff") format("woff"),
  url("../fonts/Inter-Italic.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.ttf") format("woff2"),
  url("../fonts/Inter-Medium.woff") format("woff"),
  url("../fonts/Inter-Medium.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-MediumItalic.ttf") format("woff2"),
  url("../fonts/Inter-MediumItalic.woff") format("woff"),
  url("../fonts/Inter-MediumItalic.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.ttf") format("woff2"),
  url("../fonts/Inter-SemiBold.woff") format("woff"),
  url("../fonts/Inter-SemiBold.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBoldItalic.ttf") format("woff2"),
  url("../fonts/Inter-SemiBoldItalic.woff") format("woff"),
  url("../fonts/Inter-SemiBoldItalic.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.ttf") format("woff2"),
  url("../fonts/Inter-Bold.woff") format("woff"),
  url("../fonts/Inter-Bold.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-BoldItalic.ttf") format("woff2"),
  url("../fonts/Inter-BoldItalic.woff") format("woff"),
  url("../fonts/Inter-BoldItalic.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.ttf") format("woff2"),
  url("../fonts/Inter-ExtraBold.woff") format("woff"),
  url("../fonts/Inter-ExtraBold.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBoldItalic.ttf") format("woff2"),
  url("../fonts/Inter-ExtraBoldItalic.woff") format("woff"),
  url("../fonts/Inter-ExtraBoldItalic.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.ttf") format("woff2"),
  url("../fonts/Inter-Black.woff") format("woff"),
  url("../fonts/Inter-Black.woff2") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-BlackItalic.ttf") format("woff2"),
  url("../fonts/Inter-BlackItalic.woff") format("woff"),
  url("../fonts/Inter-BlackItalic.woff2") format("truetype");
}

body {
  font-family: "Inter", 'Helvetica Neue', Arial, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2A2C2F;
  max-width: 1440px;
  min-width: 1280px;
  margin: 0 auto;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  margin: 0;
}

.page__header {
  max-width: 1184px;
  margin: 30px 0 0 0;
}

.header__logo {
  height: 100%;
}

.header__lang {
  display: flex;
}

.header__lang-item {
  display: flex;
  align-items: center;
}

.header__lang-flag {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

.header__lang-text {
  margin: 0;
  font-size: 24px;
  line-height: 23px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}

.header__lang-flag:checked ~ .header__lang-text {
  text-decoration-line: underline;
}

.header__lang-text:hover {
  opacity: .5;
  transition: opacity .1s ease-in-out;
}

.header__lang-item:not(:first-child) {
  margin-left: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /*border: 1px solid red;*/
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  /*border: 1px solid red;*/
}

.main__lead {
  max-width: 984px;
  margin: 48px 0 0 0;
}

.lead__title {
  width: 782px;
  margin: 0;
  font-size: 96px;
  line-height: 93px;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  width: 583px;
  margin: 48px 0 0 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  height: 554px;
  width: 984px;
  margin: 78px 0 0 0;
  object-fit: cover;
}

.lead__caption {
  width: 100%;
  margin: 11px 0 0 0;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  /*border: 1px solid red;*/
}

.intro {
  width: 100%;
}

.main__intro {
  margin: 80px 0 0 0;
  max-width: 984px;
}

.intro__title {
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 59px;
  color: #FFFFFF;
}

.intro__subtitle {
  margin: 45px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #FFFFFF;

}

.intro__content-row {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 0 0;
}

.intro__quote {
  width: 683px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}

.intro__content-column {
  width: 283px;
  display: flex;
  flex-direction: column;
}

.intro__author {
  margin: 0;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  color: #FFFFFF;

}

.intro__quote-author {
  font-weight: 400;
}

.intro__date {
  margin: 0;
  font-size: 10px;
  font-weight: 800;
  line-height: 16px;
  color: #FFFFFF;

}

.intro__quote-date {
  font-weight: 400;
}

.intro__fact {
  margin: 35px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.intro__fact-item {

}

.intro__fact-name {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}

.intro__fact-quantity {
  font-weight: 400;
}

.photo-grid {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 100%;
}

.main__photo-grid {
  max-width: 1184px;
  margin: 92px 0 0 0;
}

.photo-grid__item {
  /*margin: 16px 0 0 0;*/
  height: 188px;
  width: 284px;
}

.photo-grid__item:nth-child(-n+4) {
  margin: 0;
}

.places {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__places {
  max-width: 984px;
  margin: 92px 0 0 0;
}

.place {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  display: grid;
  justify-content: space-between;
  grid-template-columns: 460px 484px;
  grid-row-gap: 60px;
}

.places__place:not(:first-child) {
  margin: 72px 0 0 0;
}

.place__title {
  width: 460px;
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 65px;
  color: #FFFFFF;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 484px;
}

.place__url-heading {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.place__url {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #FFFFFF;
}

.place__url:hover {
  opacity: .5;
  transition: opacity .1s ease-in-out;
}

.place__image {
  height: 460px;
  width: 460px;
  /*margin: 60px 0 0 0;*/
  margin: 0;
  object-fit: cover;
}

.place__paragraphs {
  display: flex;
  flex-direction: column;
  width: 484px;
  /*margin: 60px 0 0 0;*/
  margin: 0;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #FFFFFF;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__video {
  max-width: 1184px;
  margin: 102px 0 0 0;
}

.content-title {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 78px;
  text-align: center;
  color: #FFFFFF;
}

.content-subtitle {
  width: 640px;
  margin: 48px 0 0 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

.video__container {
  display: flex;
  margin: 72px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.video__item {
  position: relative;
  top: 0;
  left: 0;
  height: 323px;
  width: 583px;
  border-radius: 5px;
  background: black;
}

.video__item:nth-child(2n) {
  margin-left: 18px;
}

.video__item-bg {
  width: 100%;
}

.video__item:hover .video__item-bg {
  opacity: .5;
}

.video__play {
  height: 41px;
  width: 41px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  outline: none;
  padding: 0;
  border: 0;
  background: none;
}

.video__icon-play {
  width: 100%;
}

.video__icon-play:hover {
  transform: scale(1.1);
}

.video__duration {
  position: absolute;
  top: 165px;
  left: 30px;
  z-index: 1;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.video__title {
  width: 322px;
  position: absolute;
  left: 30px;
  bottom: 61px;
  z-index: 1;
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  line-height: 39px;
  color: #FFFFFF;
}

.video__subtitle {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 1;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
  color: #FFFFFF;
}

.additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__additional {
  max-width: 1184px;
  margin: 102px 0 0 0;
}

.additional__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 72px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.additional__item {
  position: relative;
  padding: 0;
  top: 0;
  left: 0;
  height: 330px;
  width: 284px;
  border-radius: 5px;
  background: black;

}

.additional__item-bg {
  object-fit: contain;
  object-position: top left;
}

.additional__item-bg:hover {
  opacity: .5;
}

.additional__heading {
  width: 248px;
  position: absolute;
  left: 18px;
  top: 30px;
  z-index: 1;
  margin: 0;
  font-size: 27px;
  font-weight: 900;
  line-height: 29px;
  color: #FFFFFF;
}

.additional__text {
  width: 248px;
  position: absolute;
  left: 18px;
  bottom: 30px;
  z-index: 1;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #FFFFFF;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__comments {
  max-width: 1184px;
  margin: 102px 0 0 0;
}

.comments__container {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.comments__comment {
  width: 382px;
  min-width: 382px;
  max-width: 382px;
}

.comment__image {
  height: 97px;
  width: 97px;
  border-radius: 50%;
}

.comment__quote {
  width: 100%;
  margin: 42px 0 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #FFFFFF;
}

.comment__author {
  width: 100%;
  margin: 24px 0 0 0;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  color: #FFFFFF;
}

.cover {
  background-image: url("../images/cover-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 594px;
  width: 1184px;
}

.main__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 102px 0 0 0;
}

.cover__title {
  margin: 274px 0 0 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 78px;
  text-align: center;
  color: #FFFDFD;
}

.cover__subtitle {
  width: 382px;
  margin: 134px 0 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.emblem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__emblem {
  width: 1184px;
  margin: 82px 0 0 0;
}

.emblem__title {
  width: 443px;
  margin: 0;
  font-size: 42px;
  font-weight: 900;
  line-height: 46px;
  color: #FFFFFF;

}

.emblem__container {
  display: flex;
  justify-content: space-between;
  margin: 82px 0 0 0;
}

.emblem__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 208px;
}

.emblem__image {
}

.emblem__city {
  margin: 35px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #CCCCCC;
}

.barentsburg {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__barentsburg {
  max-width: 1184px;
  margin: 85px 0 0 0;
}

.barentsburg__title {
  margin: 0;
  font-size: 42px;
  font-weight: 900;
  line-height: 61px;
  color: #FFFFFF;
}

.barentsburg__coord {
  margin: 20px 0 0 0;
  font-size: 42px;
  font-weight: normal;
  line-height: 61px;
  color: #FFFFFF;
}

.barentsburg__map {
  height: 464px;
  width: 1184px;
  margin: 48px 0 0 0;
  border: 0;
}

.barentsburg__content-row {
  display: flex;
  margin: 48px 0 0 0;
}

.barentsburg__text {
  width: 380px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #FFFFFF;
}

.barentsburg__website {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 120px;
}

.barentsburg__url-heading {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.barentsburg__link {
  width: 282px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #FFFFFF;
}

.barentsburg__link:hover {
  opacity: .5;
  transition: opacity .1s ease-in-out;
}

.barentsburg__link:hover {
  text-decoration-line: underline;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.page__footer {
  width: 1184px;
  margin: 160px 0 48px 0;
}

.footer__navigation {
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.footer__item {
  margin: 0 0 0 18px;
}

.footer__item:nth-child(1) {
  margin: 0;
}

.footer__link {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 41px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:hover {
  opacity: .5;
  transition: opacity .1s ease-in-out;
}


.footer__copyright {
  margin: 0 0 0 18px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}
