.main__video {
  max-width: 1184px;
  margin: 102px 0 0 0;
}

@media screen and (max-width: 1280px) {
  .main__video {
    max-width: 928px;
    margin: 114px 0 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .main__video {
    margin: 106px 0 0 0;
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .main__video {
    margin: 72px 0 0 0;
    max-width: 343px;
  }
}

@media screen and (max-width: 375px) {
  .main__video {
    margin: 68px 0 0 0;
    max-width: 288px;
  }
}
